= simple_form_for(@message) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :content, :input_html => { :rows => 10, :maxlength => 1000 }
    = f.input :public

  .form-actions
    = f.button :submit, "Envoyer"
