- provide :title, 'Tilify - Messages'
%section#usersList.formRowNeuter
  .row
    .columns.small-12.medium-10.small-centered.text-center
      %h1.text-center Messages des utilisateurs
      %br
      %br
      = link_to 'Poster un message', contact_path, class: 'button'
      %br
      %br
      %hr
.columns.medium-10.small-centered
  #masonry-container.transitions-enabled.clearfix.centered
    .row
      .gallerie.small-centered.columns.medium-10
        - @messages.each do |message|
          .columns.small-8.medium-5.large-4.myMasonry
            = link_to(message) do
              %blockquote
                %h6= message.title
                %p= message.content
                %cite= message.user.username
