.row
  .small-12.medium-8.columns.small-centered.formRow
    %h2.text-center
      Modifier votre profil
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, :required => true, :autofocus => true
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %p
            Attente de confirmation de : #{resource.unconfirmed_email}
        = f.input :password, :autocomplete => "off", :hint => "Laisser blanc si vous ne voulez pas le modifier", :required => false
        = f.input :password_confirmation, :required => false
        = f.input :current_password, :hint => "Nous avons besoin de votre mot de passe actuel pour valider les changements", :required => true
      .form-actions
        = f.button :submit, "Mettre à jour"
    %br
    %h3 Supprimer mon compte
    %p.redWarning
      M&eacute;content ? #{link_to "Supprimer mon compte", registration_path(resource_name), :data => { :confirm => "Êtes-vous certain ?" }, :method => :delete}
    = link_to "Retour", root_path
