.small-12.medium-8.columns.small-centered.text-center
  %h1 Messages priv&eacute;s
  %br
  %p.black Messages que vous seuls pouvez voir.
  - if @private_messages.length > 0
    %br
      %table
        %thead
          %tr
            %th Auteur
            %th Sujet
            %th Message
            %th Date
            %th Supprimer
        %tbody
          - @private_messages.each do |message|
            %tr
              %td= User.find_by_id(message.user_id).username
              %td= link_to message.title, message
              %td= message.content
              %td= message.created_at.to_formatted_s(:db)
              %td>
                %spa.redWarning
                  = link_to 'Supprimer', message, :method => :delete, :data => { :confirm => "Êtes-vous certain ?" }
  - else
    %p.black Il n'y a rien ici !
  %br
  %hr
  %br
  %h1 Messages publics
  %br
  %p.black Messages visibles par tous les utilisateurs inscrits.
  - if @public_messages.length > 0
    %br
      %table
        %thead
          %tr
            %th Auteur
            %th Sujet
            %th Message
            %th Date
            %th Supprimer
        %tbody
          - @public_messages.each do |message|
            %tr
              %td= User.find_by_id(message.user_id).username
              %td= link_to message.title, message
              %td= message.content
              %td= message.created_at.to_formatted_s(:db)
              %td>
                %span.redWarning
                  = link_to 'Supprimer', message, :method => :delete, :data => { :confirm => "Êtes-vous certain ?" }
  - else
    %p.black Il n'y a rien ici !
