%section#usersList
  .small-12.medium-8.columns.small-centered.text-center
    %h1 Administrateurs
    %br
    %br
    %table
      %thead
        %tr
          %th ID
          %th Pseudo
          %th Email
          %th Inscription
          %th Mise &agrave; jour
          %th Connexions
          %th Derni&egrave;re
      %tbody
        - @users.each do |user|
          %tr
            %td
              = link_to user.id.to_s, user_path(id: user.id)
          %td
            = link_to user.username.to_s, user_path(id: user.id)
          %td= user.email
          %td= user.created_at.to_formatted_s(:db)
          %td= user.updated_at.to_formatted_s(:db)
          - if admin_signed_in?
            %td
              %p.redWarning
                = link_to "Supprimer", admin_destroy_user_path(user), method: :delete, data: { confirm: "Êtes-vous certain ?"  }
