- provide :title, 'Tilify - Administration'
%section#welcome.adminWelcome
  .row
    .columns.small-12.medium-10.small-centered
      .text-center
        %h1>
          Bonjour, admin<strong>
          = current_admin.username
          </strong> !
        %br
        %br
        %p Bienvenue sur le panel d'administration.
        %p
          %a{:href => '#', 'data-reveal-id' => 'whyUDoDis'}
            %i.fa.fa-info
            &nbsp;
            <em>Pr&eacute;cautions d'usage</em>
        #whyUDoDis.medium.text-center.reveal-modal{'data-reveal' => ''}
          %p.lead Pr&eacute;cautions particuli&egrave;res &agrave; la connexion administrateur
          %p
            Vous ne devriez vous connecter en administrateur que pour les taches de maintenance.
            %br
            Si vous souhaitez visiter le site, connectez-vous en tant que simple utilisateur.
          %a.close-reveal-modal &times;

%section#usersList
  .row
    .small-12.medium-9.columns.small-centered.text-center
      %h2 Administration
      %br
      %br
      %br
      %ul.tabs{'data-tab' => ''}
        %li.tab-title.active
          %a{:href => '#utilisateurs'}
            %i.fa.fa-users
            &nbsp;
            Utilisateurs
        %li.tab-title
          %a{:href => '#administrateurs'}
            %i.fa.fa-bolt
            &nbsp;
            Administrateurs
        %li.tab-title
          %a{:href => '#messages'}
            %i.fa.fa-comments
            &nbsp;
            Messages
        %li.tab-title
          %a{:href => '#tuiles'}
            %i.fa.fa-square
            &nbsp;
            Tuiles
      .tabs-content
        #utilisateurs.content.active
          = render 'users'
        #administrateurs.content
          = render 'admins'
        #tuiles.content
          = render 'tuiles'
        #messages.content
          = render 'messages'
