= simple_form_for(@tuile) do |f|
  = f.error_notification
  - available_types = %w(image tutoriel vidéo site forum documentation autre)

  .form-inputs
    = f.input :lien
    = f.input :image
    = f.input :titre, :input_html => { :maxlength => 51 }
    = f.input :description, :input_html => { :rows => 10, :maxlength => 301 }
    = f.input :forme, :as => :select, :collection => available_types.map(&:capitalize), :prompt => true

  .form-actions
    = f.button :submit, 'Envoyer'
