= simple_form_for(@tuile) do |f|
  = f.error_notification
  - available_types = %w(image tutoriel vidéo site forum documentation autre)

  .form-inputs
    = f.input :lien, :input_html => { :placeholder => "Lien direct de la ressource" }
    = f.input :image, :input_html => { :placeholder => "Lien direct de l'image illustrant la ressource" }
    = f.input :titre, :input_html => { :maxlength => 51, :placeholder => "Titre de la ressource" }
    = f.input :forme, :as => :select, :collection => available_types.map(&:capitalize), :prompt => true
    = f.input :tag_list, :input_html => { :placeholder => "Tags séparés par des virgules"  }
    = f.input :description, :input_html => { :rows => 10, :maxlength => 301, :placeholder => "Description brève de la ressource, en 300 caractères"}

  .form-actions
    = f.button :submit, 'Envoyer'
