- provide :title, 'Tilify - Tuile "' + @tuile.titre + '"'

%p#notice= notice

.row
  .columns.medium-10.small-centered.content
    %h1.text-center>
      Affichage de la tuile
    %br
    %br

    .row
      =link_to( (image_tag @tuile.image, class: 'th small'), @tuile.image)
    .row
      = link_to @tuile.lien, :target => '_blank' do
        %fieldset
          %legend.blue= @tuile.titre
          %p.black= @tuile.description
          %cite>
            = @tuile.created_at.to_formatted_s(:db)
          - if @tuile.created_at.to_formatted_s(:db) != @tuile.updated_at.to_formatted_s(:db)
            %cite>
              %br
              &Eacute;dit&eacute; le 
              = @tuile.updated_at.to_formatted_s(:db)
          .right
            %i.tileType.fa{:class => 'fa-' + getIconByType(@tuile)}
            = @tuile.forme

      %fieldset
        %legend.blue Tags
        - if @tuile.tag_list.length > 0
          %ul.taglist
            - @tuile.tag_list.each do |tag|
              %li= tag
        - else
          %p.black Il n'y a rien ici !

    %br
    .row
      .columns.small-centered.text-center
        - if (admin_signed_in? || current_user.id == @tuile.user_id)
          = link_to 'Modifier', edit_tuile_path(@tuile), class: 'button'
          = link_to 'Supprimer', tuile_path(@tuile), class: 'button alert', :method => :delete, :data => { :confirm => "Êtes-vous certain ?" }
        %br
        = link_to 'Retour', tuiles_path
