- if (admin_signed_in? || ( user_signed_in? && current_user.id.to_s == params[:id]))
  - provide :title, 'Tilify - Profil ' + @user.username
  .row
    .columns.medium-10.small-centered.content
      %h1.text-center>
        Profil de
        %span.blue
          = @user.username
      %br
      %br

      .th
        = gravatar_for(@user)
      %p#features>
        <strong>Nom d'utilisateur&nbsp;:</strong>
        = @user.username
        %br
        <strong>Email&nbsp;:</strong>
        = @user.email
        %br
        <strong>Inscription&nbsp;:</strong>
        = @user.created_at.to_formatted_s(:db)
        %br
        <strong>Derni&egrave;re modification&nbsp;:</strong>
        = @user.updated_at.to_formatted_s(:db)
        %br
        %br
        %hr

        %section#usersList
          .row
            .small-12.medium-9.columns.small-centered.text-center
              %h2 Activit&eacute;
              %br
              %br
              %ul.tabs{'data-tab' => ''}
                %li.tab-title.active
                  %a{:href => '#tuiles'}
                    %i.fa.fa-square
                      &nbsp;
                    Tuiles
                %li.tab-title
                  %a{:href => '#messages'}
                    %i.fa.fa-comments
                      &nbsp;
                    Messages
              .tabs-content
                #tuiles.content.active
                  - if @tuiles.length > 0
                    .tuilesIndex
                      .columns.medium-10.small-centered
                        #masonry-container.transitions-enabled.clearfix.centered
                          .row
                            .gallerie.small-centered.columns.medium-10
                              - @tuiles.each do |tuile|
                                - n = rand(1..2)
                                .masonWrapper
                                  .columns.text-center.small-12.medium-12.large-6.myMasonry{:class => 'tuile' + n.to_s}
                                    .row
                                      %i.right.tileType.fa{:class => 'fa-' + getIconByType(tuile)}
                                    = link_to tuile do
                                      %h3= tuile.titre
                                      = image_tag tuile.image
                                      %p= tuile.description
                                      - if tuile.tag_list.length > 0
                                        %ul.taglistReverse
                                          - tuile.tag_list[0..2].each do |tag|
                                            %li.tag= link_to tag, root_url(search: tag, tagOnly: true)
                                          - if tuile.tag_list.length > 3
                                            %li.tag.more= link_to '...', tuile

                  - else
                    %p.black Il n'y a rien ici.

                #messages.content
                  - if @messages.length > 0
                    #masonry-container.transitions-enabled.clearfix.centered
                      .row
                        .gallerie.small-centered.columns.medium-10
                          - @messages.each do |message|
                            .columns.small-12.medium-12.large-6.myMasonry
                              = link_to(message) do
                                %blockquote
                                  %h6{class: message.public ? '' : 'red' }= message.title
                                  %p= message.content
                                  %cite= getUserById(message.user_id).username
                  - else
                    %p.black Il n'y a rien ici.
- else
  :javascript
    window.location.href="/"
  - flash[:alert] = "Vous n'avez pas l'autorisation de visualiser ce profil."
