#menu.fixed
  %nav.top-bar{'data-topbar' => ''}
    %ul.title-area
      %li.name
        %h1
          = link_to 'TILIFY', root_path
      %li.toggle-topbar.menu-icon
        %a{:href => '#'} Menu

    %section.top-bar-section
      %ul.right
        - if current_page?('/')
          %li.active
            %a{:href => '/'}
              %i.fa.fa-home
                &nbsp;Accueil
        - else
          %li
            %a{:href => '/'}
              %i.fa.fa-home
                &nbsp;Accueil
        - if (!admin_signed_in? && current_page?('/messages') || current_page?('/contact'))
          %li.active
            %a{:href => '/contact'}
              %i.fa.fa-envelope
              &nbsp;Contact
        - elsif !admin_signed_in?
          %li
            %a{:href => '/contact'}
              %i.fa.fa-envelope
              &nbsp;Contact
        - if (params[:controller] == 'users' || params[:controller] == 'devise/sessions' || current_page?(controller: 'devise/registrations', action: 'new') || current_page?(controller: 'devise/sessions', action: 'new') || current_page?(controller: 'devise/registrations', action: 'edit') || admin_signed_in?)
          %li.has-dropdown.active
            %a{:href => '#'}
              %i.fa.fa-user
                - if admin_signed_in?
                  &nbsp;Administration
                - elsif user_signed_in?
                  &nbsp;Espace membre
                - else
                  &nbsp;Nous rejoindre
            %ul.dropdown
              %li
                - if admin_signed_in?
                  %li= link_to('Panel',  adminpanel_index_path)
                  %li= link_to('Deconnexion', destroy_admin_session_path, :method => :delete)
                - elsif user_signed_in?
                  %li= link_to('Profil', user_path(id: current_user.id), :method => :get)
                  %li= link_to('Modifier le profil', edit_user_registration_path, :method => :get)
                  %li= link_to('Deconnexion', destroy_user_session_path, :method => :delete)
                - else
                  %li= link_to('Connexion', new_user_session_path)
                  %li= link_to('Inscription', new_user_registration_path)
        - else
          %li.has-dropdown
            %a{:href => '#'}
              %i.fa.fa-user
                - if admin_signed_in?
                  &nbsp;Administration
                - elsif user_signed_in?
                  &nbsp;Espace membre
                - else
                  &nbsp;Nous rejoindre
            %ul.dropdown
              - if admin_signed_in?
                %li= link_to('Panel', adminpanel_index_path)
                %li= link_to('Deconnexion', destroy_admin_session_path, :method => :delete)
              - elsif user_signed_in?
                %li= link_to('Profil', user_path(id: current_user.id), :method => :get)
                %li= link_to('Modifier le profil', edit_user_registration_path, :method => :get)
                %li= link_to('Deconnexion', destroy_user_session_path, :method => :delete)
              - else
                %li= link_to('Connexion', new_user_session_path)
                %li= link_to('Inscription', new_user_registration_path)


      %ul.right.show-for-large-up
        %li.has-form
          .row.collapse
            .columns.small-8
              %input{:type => 'text', :placeholder => 'Rechercher...'}
            .columns.small-4
              %a.searchButton.button{:href => '#'}
                %i.fa.fa-search
